// core.scss
html, body{
  border-radius: 8px; 
  margin: 0;
}
html, body, div{
  height: 100%;
  width: 100%;
  float: left;
  -webkit-user-select: none;
}

#browser{
  background-color: rgba(0,0,0,1);
  height: calc(100% - 4em); 
}

#player{
  background-color: rgba(141, 141, 141, 1);
  height: 4em;
}